@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}
<h1>Lista de Mascotas</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Color</th>
        <th>Especie</th>
        <th>Raza</th>
        <th>Propietario</th>
        <th>Veterinario</th>
        <th align="center">Acciones</th>
    </tr>
    @foreach (var mascota in Model.listaMascotas)
    {
        
            
            <tr>
                <td>@mascota.Id</td>
                <td>@mascota.Nombre</td>
                <td>@mascota.Color</td>
                <td>@mascota.Especie</td>
                <td>@mascota.Raza</td>
                <td>@mascota.Dueno.Nombres @mascota.Dueno.Apellidos</td>
                <td>@mascota.Veterinario.Nombres @mascota.Veterinario.Apellidos</td>
                <td>
                    <a class="btn btn-primary table-btn" asp-page="./DetallesMascota" asp-route-mascotaId="@mascota.Id">
                        <i class="fa-light fa-money-check-pen">Detalles</i>
                    </a>
                    <a class="btn btn-primary table-btn" asp-page="./EditMascota" asp-route-mascotaId="@mascota.Id">
                        <i class="fa-light fa-money-check-pen">Editar</i>
                    </a>
                    <a class="btn btn-primary table-btn" asp-page="../Historias/HistoriaClinica" asp-route-mascotaId="@mascota.Id">
                        <i class="fas fa-addess-book fa-lg" aria-hidden="true">Historia</i>
                    </a>
                </td>
            </tr>
        
    }
</table>
