@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasDuenoModel
@{
}
<h1>Lista de Mascotas</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Color</th>
        <th>Especie</th>
        <th>Raza</th>
        
        <th align="center">Acciones</th>
    </tr>
    @foreach (var mascota in Model.mascotas)
    {
        
            
            <tr>
                <td>@mascota.Id</td>
                <td>@mascota.Nombre</td>
                <td>@mascota.Color</td>
                <td>@mascota.Especie</td>
                <td>@mascota.Raza</td>
                
                <td>
                    <a class="btn btn-primary table-btn" asp-page="./DetallesMascota" asp-route-mascotaId="@mascota.Id">
                        <i class="fas fa-info-circle fa-lg">Detalle</i>
                    </a>
                    <a class="btn btn-primary table-btn" asp-page="./EditMascota" asp-route-mascotaId="@mascota.Id">
                        <i class="fas fa-addess-book fa-lg" aria-hidden="true">Editar</i>
                    </a>
                    <a class="btn btn-primary table-btn" asp-page="./HistoriaClinica" asp-route-mascotaId="@mascota.Id">
                        <i class="fas fa-addess-book fa-lg" aria-hidden="true">Historia Clinica</i>
                    </a>
                </td>
            </tr>
        
    }
</table>
<a asp-page="./EditMascota" class = "btn btn-primary"> Adicionar Nueva Mascota</a>